@import '../../scss/base/Colors.module.scss';
@import '../../scss/components/Global.module.scss';

.shopSection {
    background-color: $light;
}

.shopWrap {
    display: flex;
    padding: 50px 0;
}

.shopPrimaryWrap {
    flex-grow: 5;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shopSecondaryWrap {
    flex-grow: 1;
    border-right: 1px solid $silver;
}