@import '../../scss/base/Colors.module.scss';

.editPasswordHeader {
    display: flex;
}

.editPasswordTitle {
    font-size: 1.3rem;
}

.editPasswordForm {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.editPasswordHolder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formInput {
    width: 98%;
    min-height: 40px;
    font-size: 1.1rem;
    padding-left: 10px;
    border: 1px solid $silver;
    border-radius: 4px;
}

.formText {
    font-size: 1.1rem;
}