@import '../../scss/base/Colors.module.scss';

.modalHeader {
    display: flex;
}

.modalTitle {
    font-size: 1.3rem;
}

.form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.formInputHolder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formInput {
    min-height: 40px;
    font-size: 1.1rem;
    padding-left: 10px;
    border: 1px solid $silver;
    border-radius: 4px;
}

.formText {
    font-size: 1.1rem;
}

.formErrorMsg {
    color: $red;
    padding-top: 2px;
}

.formSuccessMsgHolder {
    padding-top: 10px;
    text-align: left;
};