$white: #ffffff;
$green: #8bc34a; // 139 195 74
$red: #ff0000;
$gray: #808080;
$black: #000000;
$silver: #c0c0c0;
$light: #f8f6f3;
$darkGreen: #64A90C; // 100 169 12
$darkgray: #363636;
$footerBg: #001524;