@import '../../scss/base/Colors.module.scss';

.togglerHolder {
    background: $green;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 25px;
}

.togglerIcon {
    font-size: 20px;
    color: $white;
}