@import '../../../scss/base/Colors.module.scss';

.categoriesWrap {
    padding-top: 20px;
}

.categoryItem {
    padding: 3px 0;
}

.categoryLink {
    color: $darkGreen;
}

.numberSpan {
    padding-left: 5px;
    color: $black;
}