@import '../../../scss/base/Colors.module.scss';

.searchWrap {
    display: flex;
    gap: 5px;
}

.searchInput {
    font-size: 16px;
    padding-left: 5px;
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.searchButton {
    border: 1px solid $darkGreen;
    background-color: $darkGreen;
    color: $white;
    padding: 13px;
    border-radius: 5px;
}

.searchSpanText {
    padding-left: 5px;
}