@import '../../scss/base/Colors.module.scss';
@import '../../scss/components/Global.module.scss';

.infoWrap {
    position: relative;
    text-align: center;
    min-height: 350px;
}

.titleHolder {
    padding: 50px 0 100px 0;
    text-align: center;
    @media (max-width: 920px) {
        padding: 30px 0 70px 0;
    }
}

.infoTitle {
    font-size: 3rem;
    @media (max-width: 920px) {
        font-size: 2rem;
    }
}

.infoCardHolder {
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 70px 30px 50px 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 55px 5px $silver;
    background-color: $white;

    @media (max-width: 920px) {
        position: static;
        flex-direction: column;
        justify-content: center;
        transform: none;
        width: 100%;
        padding: 40px 0 20px 0;
        gap: 20px;
    }
}

.leafImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    top: 0;
}