@import '../../../scss/base/Colors.module.scss';
@import '../../../scss/components/Global.module.scss';

.qualitySection {
    position: relative;
}

.qualityWrap {
    display: flex;
    gap: 100px;
    padding: 200px 0 100px 0;
    @media (min-width: 768px) and (max-width: 1200px) {
        gap: 30px;
    }
    @media (max-width: 920px) {
        flex-direction: column;
        align-items: center;
    }
}

.qualitySliderWrap {
    width: 50%;
    background: $light;
    border-radius: 10px; 
    @media (max-width: 920px) {
        width: 100%;
    }
}

.certifiedWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 55%;
    @media (max-width: 920px) {
        width: 100%;
        text-align: center;
    }
}

.mainBgImageExt{
    height: 50%;
    @media (max-width: 920px) {
        height: 10%;
    }
}