@import '../../../scss/base/Colors.module.scss';
@import '../../../scss/components/Global.module.scss';

.areasTitle {
    font-size: 1.6rem;
    color: $white;
}

.areasContentHolder {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.areasLogoText {
    padding-top: 10px;
    font-style: italic;
    font-weight: bold;
}

.areasLink {
    color: $silver;
    transition: 300ms;
    &:hover {
        color: $white;
    }
}

.areasGreenLink {
    color: $darkGreen;
    transition: 300ms;
    &:hover {
        opacity: 0.9;
    }
}

.areasStore {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.storeButton {
    width: auto;
    min-height: 50px;
    min-width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
}