@import '../../scss/base/Colors.module.scss';
@import '../../scss/components/Global.module.scss';

.footerSection {
    background-color: $footerBg;
}

.footerWrap {
    display: grid;
    grid-template-areas:
        "a b c"
        "a d e";
    column-gap: 150px;
    row-gap: 50px;
    padding: 50px 0;
    color: $silver;
}

.logoArea {
    grid-area: a;
}

.quickLinksArea {
    grid-area: b;
}

.downloadArea {
    grid-area: c;
}

.siteLinksArea {
    grid-area: d;
}

.greenLinks {
    grid-area: e;
}