@import '../../scss/base/Colors.module.scss';
@import '../../scss/components/Global.module.scss';

.relatedProducts {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0 100px 0;
    @media (max-width: 920px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}