@import '../../scss/base/Colors.module.scss';

.submenuWrap {
    padding: 50px 0;
}

.submenuList {
    display: flex;
    gap: 30px;
    border-top: 1px solid $silver;
}

.submenuItem {
    font-weight: bold;
    padding: 5px 0 20px 0;
    border-top: 3px solid transparent;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.submenuItemActive {
    border-top: 3px solid $darkGreen;
}

.submenuPanelHolder {
    padding: 10px 0 20px 0;
}

.allReviewsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}