@import '../../../scss/base/Colors.module.scss';

.settingsButton {
    @media (max-width: 920px) {
        width: 100%;
        text-align: left;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 25px;
        border-bottom: 1px solid $silver;
    }
}

.settingsIcon {
    color: $darkgray;
    font-size: 17px;
    margin-left: 20px;
    @media (max-width: 920px) {
        margin-left: 10px;
    }
}
