@import './scss/base/Colors.module.scss';
@import './scss/base/Reset.module.scss';

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

// scrollbar and selection
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: $white;
}
::-webkit-scrollbar-thumb {
    background-color: $darkGreen;
}
::-webkit-scrollbar-thumb:hover {
    background: $green;
}
::selection {
    color: $white;
    background-color: $darkGreen;
  }