@import '../../../scss/base/Colors.module.scss';

.paginationWrap {
    padding-top: 20px;
    display: flex;
    gap: 5px;
    @media (max-width: 1000px) {
        justify-content: center;
    }
}

.buttonPagination {
    border: 1px solid $darkGreen;
    padding: 15px 20px;
    color: $darkGreen;
    transition: 300ms;
    &:hover {
        background-color: $darkGreen;
        color: $white;
    }
}

.buttonPaginationActive {
    background-color: $darkGreen;
    color: $white; 
}