@import '../../scss/base/Colors.module.scss';

.modal {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    overflow: hidden;
}

.modalContent {
    background-color: $white;
    padding: 30px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}
